# Temp files
.DS_Store
__pycache__
*.swp
*.swo
*.orig
.idea
outputs/
*.pyc
*.npy
*.pdf
util/*.sh
checkpoints
# *.npz
3dmatch/
tmp.txt
output.ply
bunny.ply
test.sh
*.ply

ResUNetBN2C-feat32-3dmatch-v0.05.pth
redkitchen_000.ply redkitchen_010.ply
